<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Company list</h1>
        </div>
        <div class="col-6">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">New Company</a>
        </div>
    </div>

    <table class="table table-bordered table-striped-columns">
        <thead>
        <tr>
            <th>
                Company Name
            </th>
            <th>
                City
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.City</td>
                <td>
                    <div>
                        <a asp-controller="Company" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary">
                            Edit
                        </a>
                        <a asp-controller="Company" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>