@page
@model Razor.Pages.Category.CreateModel
<div>
    <h1>Category New</h1>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" class="form-control"/>
        <span asp-validation-for="Category.Name" class="text-bg-danger"></span>
    </div>
    @* All, None *@
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Category.DisplayOrder"></label>
        <input asp-for="Category.DisplayOrder" class="form-control"/>
        <span asp-validation-for="Category.DisplayOrder" class="text-bg-danger"></span>
    </div>
    <button type="submit">Create</button>
    <a asp-page="/categories/index" class="btn btn-secondary border form-control">Back</a>
</form>