@model Product

<div>
    <h1>Delete Category</h1>
</div>

<form method="post">
    @* if tour id is category id *@
    <input asp-for="Id" type="hidden"/>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-bg-danger"></span>
    </div>
    @* All, None *@
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-bg-danger"></span>
    </div>
    <button type="submit">Delete</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back</a>
</form>

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         <partial name="_ValidationScriptsPartial"/> *@
@*     } *@
@* } *@
