@model Product

<div>
    <h1>Edit Category</h1>
</div>

<form method="post">
    @* if tour id is category id *@
    <input asp-for="Id" type="hidden"/>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-bg-danger"></span>
    </div>
    @* All, None *@
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control"/>
        <span asp-validation-for="Author" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Isbn"></label>
        <input asp-for="Isbn" class="form-control"/>
        <span asp-validation-for="Isbn" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price50"></label>
        <input asp-for="Price50" class="form-control"/>
        <span asp-validation-for="Price50" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price100"></label>
        <input asp-for="Price100" class="form-control"/>
        <span asp-validation-for="Price100" class="text-bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ListPrice"></label>
        <input asp-for="ListPrice" class="form-control"/>
        <span asp-validation-for="ListPrice" class="text-bg-danger"></span>
    </div>
    <button type="submit">Update</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back</a>
</form>

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         <partial name="_ValidationScriptsPartial"/> *@
@*     } *@
@* } *@
