@model ProductVm

<div>
    <h1>@(Model.Product.Id != 0 ? "Update" : "Create") Product</h1>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id"/>
    <input type="hidden" asp-for="Product.ImageUrl"/>
    <div class="row">
        <div class="col-10">
            @* All, None *@
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control"/>
                <span asp-validation-for="Product.Name" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control"/>
                <span asp-validation-for="Product.Author" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Isbn"></label>
                <input asp-for="Product.Isbn" class="form-control"/>
                <span asp-validation-for="Product.Isbn" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control"/>
                <span asp-validation-for="Product.Price" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price50"></label>
                <input asp-for="Product.Price50" class="form-control"/>
                <span asp-validation-for="Product.Price50" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price100"></label>
                <input asp-for="Product.Price100" class="form-control"/>
                <span asp-validation-for="Product.Price100" class="text-bg-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" name="file" asp-for="Product.ImageUrl" class="form-control"/>
            </div>
            <div class="mb-3">
                <select class="form-control" asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList">
                    <option>--Select Cateogry--</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control"/>
                <span asp-validation-for="Product.ListPrice" class="text-bg-danger"></span>
            </div>
            @if (Model.Product.Id != 0)
            {
                <button type="submit">Update</button>
            }
            else
            {
                <button type="submit">Create</button>
            }
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back</a>
        </div>
        <div class="col-2">
            <img width="100%" src="@("\\" + Model.Product.ImageUrl)" alt=""/>
        </div>
    </div>

</form>

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         <partial name="_ValidationScriptsPartial"/> *@
@*     } *@
@* } *@
